.about {
    width: 100%;
    &__header {
        display: flex;
        background-color: rgba($color-primary, 0.45);
        justify-content: center;
        // align-items: center;
        padding: 0.8rem 0;
        &__heading{
            font-size: 4.5rem;
            font-weight: 200;
        }
    }
    &__info {
        margin-top: 4rem;
    }


    &__display {
        width: 100%;
        padding-top: 120%;
        &.main_photo {
            padding-top: 90%;
        }
        position: relative;

        &__photo {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &__subheading {
        text-align: center;
        font-size: 3.2rem;
        color: $color-primary;
        font-weight: 200;
        margin-bottom: 2rem;
    }

    &__paragraph {
        font-size: 1.6rem;
        color: $color-paragraph;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
        
    &__team {
    
        clear: both;
        font-size: 2.4rem;
        color: $color-paragraph;
        font-weight: 200;
        margin-top: 4rem;
        margin-bottom: 6rem;
    }
    &__card {
        font-size: 2.4rem;
        color: $color-paragraph;
        font-weight: 200;
        padding: 5%;
        padding-bottom: 0;
        background-color: rgb(247, 241, 241);
        // background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.6rem 0.4rem rgba(0, 0, 0, 0.1);

        margin-bottom: 4rem;
    }

    &__realtor {
        font-size: 1.8rem;
        font-weight: 200;
        color: $color-primary;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__contact {
        font-size: 1.6rem;
        color: $color-tertiary;
        margin-bottom: 0.5rem;
    }

    &__about {
        // margin-bottom: 2rem;
        font-size: 1.2rem;
        color: $color-paragraph;
        font-weight: 20;
        min-height: 12rem;
        overflow: hidden;
    }
}
