// Colors
$color-primary: #328da8;
$color-secondary: #47acad;
$color-tertiary: #2fa18a;
$color-quaternary: #87369e;

$color-grey-light: #efefef;
$color-grey-dark: #333;

$color-hover: #edf5f8;
$color-link-hover: #ccc;

$color-paragraph: #4a4a4a;

$color-green: #34eb49;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;




















// $co-primary: #fefefe;
// $shadow-primary: 2px 2px 4px #fefefe, 0 0px 48px #cdc6f6, 0 0 8px rgb(226, 219, 255), 0 0 16px rgb(180, 177, 193);

// $co-secondary: rgb(242, 200, 222);
// $shadow-secondary: 2px 2px 4px rgb(242, 200, 222), 0 0px 48px #a87a88, 0 0 8px #caa1b1, 0 0 16px #d2a6b8;
// $co-tiary: rgb(139, 14, 102);
// $co-quaterary: rgb(76, 59, 66);

// $co-dark-blue: rgb(56, 55, 83);
// $co-light-blue: rgb(133, 122, 157);

// $default-font-size: 1.6rem;

// $grid-width: 114rem;
// $gutter-vertical: 4rem;
// $gutter_vertical-small: 4rem;
// $gutter-horizontal: 4rem;

